*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #36384D;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    justify-self: center;
    align-content: center;
    background-color: rgb(230, 229, 229);
    padding: 20px;
    border-radius: 30px;
    gap: 5%;
}



h1{
    font-size: 50px;
}

#tp{
    font-size: 20px;
}

.left{
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
}

.list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list,p{
    display: flex;
    gap: 5px;
}

#em_p{
    
}

#email{
    width: 80%;
    height: 80%;
    padding-left: 5px;
    border: 2px thin black;
    border-radius: 10px;
    border-width: 1px;
    margin-bottom: 10px;
}

form{
    width: 80%;
    height: 80%;
    padding-left: 5px;
    border: 2px thin black;
    border-radius: 10px;
    border-width: 1px;
    margin-bottom: 10px;
}

#em_p{
    width: 81%;
    display: flex;
    justify-content: space-between;
}

button{
    background-color: #202dbb;
    color: white;
    width: 81.5%;
    height: 80%;
    font-size: 15px;
    padding-left: 5px;
    border: 2px thin black;
    border-width: 1px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: blue;
}

#close{
    height: 20%;
    font-size: 20px;
    margin-left: 25px;
    
}

#thx{
    display: none;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    height: 40%;
    width: 20%;
    background-color: rgb(230, 229, 229);
    padding: 20px;
    border-radius: 30px;
    gap: 5%;
}

#suc_img{
    display: flex;
    height: 40px;
    margin-left: -250px;

}